@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
html, body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif; }

.cp-toolbar {
  background-color: #FFF;
  border-bottom: 1px solid #5d9cec; }

.cp-toolbar-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color: #4a89dc; }
  .cp-toolbar-button:hover {
    text-decoration: none; }
  .cp-toolbar-button:focus {
    outline: 0; }
  .cp-toolbar-button:focus {
    color: #4a89dc; }
  .cp-toolbar-button:hover {
    color: #4fc1e9; }
  .cp-toolbar-button:active {
    color: #4fc1e9; }
  .cp-toolbar-button.left {
    float: left; }
  .cp-toolbar-button.right {
    float: right; }

.cp-toolbar-title {
  font-size: 22px;
  text-align: center;
  line-height: 40px;
  margin: 0;
  padding: 0; }

.md-route {
  position: relative;
  border-bottom: 1px solid #ccd1d9; }

.md-route-decoration {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px; }

.md-route-content {
  list-style: none;
  padding: 10px 10px 10px 0;
  margin: 0 0 0 40px; }

.md-route-place {
  background-color: #5d9cec;
  padding: 10px;
  color: #FFF; }

.md-route-place-name {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 5px 0; }

.md-route-place-address {
  font-size: 14px;
  margin: 0;
  font-style: italic; }

.md-route-directions {
  margin-top: 10px;
  margin-bottom: 10px; }

.md-route-directions-link {
  display: inline-block;
  background-color: #ed5565;
  color: #FFF;
  padding: 10px; }
