.md-help-container {
  padding: 10px;
}

.md-help-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.md-help-item {
  margin-bottom: 20px;
}

.md-help-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.md-help-content {
  font-size: 16px;
  margin: 0;
}
