.cp-toolbar {
  background-color: #FFF;
  border-bottom: 1px solid $blue;
}


.cp-toolbar-button {
  display: inline-block;
  height: $toolbar-height;
  width: $toolbar-height;
  text-align: center;
  line-height: $toolbar-height;
  font-size: 18px;
  @include reset-anchor();
  @include anchor-colors($blueDark, $aqua);

  &.left  { float: left; }
  &.right { float: right; }
}

.cp-toolbar-title {
  margin-left: 5px;
  font-size: 22px;
  text-align: center;
  line-height: $toolbar-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include reset-element();
}
