@mixin transition($property: all, $duration: 200ms, $time-function: ease, $delay: 0) {
  -webkit-transition: $property $duration $time-function $delay;
     -moz-transition: $property $duration $time-function $delay;
      -ms-transition: $property $duration $time-function $delay;
       -o-transition: $property $duration $time-function $delay;
          transition: $property $duration $time-function $delay;
}
