@mixin transition($property: all, $duration: 150ms, $timeingFunction: ease-out, $delay: 0ms) {
    -webkit-transition: $property $duration $timeingFunction $delay;
       -moz-transition: $property $duration $timeingFunction $delay;
        -ms-transition: $property $duration $timeingFunction $delay;
         -o-transition: $property $duration $timeingFunction $delay;
            transition: $property $duration $timeingFunction $delay;
}
