html, body, .ly-app {
  height: 100%;
}

.ly-app {
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #FFF;
}


// Map
//
.ly-map-panel {
  position: absolute;
  z-index: 0;
  top: 0;
  left: $panel-width;
  right: 0;
  bottom: 0;
}

.ly-panel-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  z-index: 1000;
}

.ly-map-canvas {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: $toolbar-height;
  width: 100%;
  bottom: 0;
}

.ly-map-control {
  position: absolute;
  top: $toolbar-height + $map-control-margin;
  right: $map-control-margin;
  width: 40px;
  z-index: 100; // > .ly-map-canvas && < .ly-drop-zone
}


// Side
//
.ly-side-panel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $panel-width;
  z-index: 0;
}

.ly-side-panel-inner {
  position: absolute;
  top: $toolbar-height;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


// Info
//
.ly-info-panel {
  position: absolute;
  z-index: 1000;
  top: $toolbar-height + $info-panel-margin;
  left: $panel-width + $info-panel-margin;
  width: $panel-width;
  bottom: $info-panel-margin;
}


// Drop Zone
//
.ly-drop-zone {
  position: absolute;
  top: $toolbar-height;
  right: 0;
  bottom: 0;
  width: $panel-width;
  z-index: 2000; // > .ly-info-panel
}


// Guide Window
//
.ly-guide-window {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1500;
}
