.md-direction-options-modal {
  width: 900px;
  background-color: #FFF;
}

.md-direction-modal-blocks {
  overflow: hidden;
}

.md-direction-modal-option-block {
  width: 300px;
  height: 300px;
  float: left;
  background-color: $blueDark;
  @include transition();
  &.active {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
}

.md-direction-modal-option-block-button {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  &:hover {
    background-color: saturate(lighten($blue, 23), 11);
  }
}

.md-direction-modal-footer {
  height: 60px;
  background-color: $gray3;
}

.md-direction-modal-footer-button {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  background-color: #FFF;
  color: $gray6;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}

.md-direction-modal-footer-instruction {
  float: left;
  line-height: 60px;
  font-size: 20px;
  margin-left: 20px;
}
