.md-direction-options-modal {
  width: 450px;
  background-color: #FFF;
}

.md-direction-modal-body {
  overflow: hidden;
}

.md-direction-modal-option-block {
  width: 150px;
  height: 150px;
  float: left;
  background-color: $blueDark;
  @include transition();
  &.active { padding: 10px; }
}

.md-direction-modal-option-block-button {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  &:hover {
    background-color: saturate(lighten($blue, 23), 11);
  }
  img {
    height: 100%;
    width: 100%;
  }
}


.md-direction-modal-footer {
  height: 60px;
  padding: (60px - 34px) / 2;
  line-height: 34px;
}

.md-direction-modal-footer-instruction {
  float: left;
  font-size: 20px;
}

.md-direction-modal-footer-button {
  float: right;
}
