.md-map-control {
  background-color: $gray6;
}

.md-map-control-button {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;

  color: #FFF;
  &:hover {
    color: $green;
    text-decoration: none;
  }

  &:active {
    background-color: $gray5;
  }
}
