.md-place {
  position: relative;
  overflow: hidden;
}

.md-place.saved-places {
  border-bottom: 1px solid $blue;
}

.md-place-inner {
  position: relative;
  overflow: hidden;
  background-color: #FFF;
  width: 350px;
}

.md-place-handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: $blueDark;
  .fa-spin.ng-animate {
    -webkit-animation: initial;
    animation: initial;
  }
}

.md-place-content {
  margin-left: 40px;
  margin-right: 20px;
}


// Place Info
//
.md-place.search-result {
  @extend .clearfix;
  margin: 10px 10px 0;
  background-color: #FFF;
  width: 330px;
  overflow: hidden;
  cursor: pointer;
}

.md-place-details {
  padding: 10px;
  margin-right: 100px;
}

.md-place-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.md-place-address {
  font-size: 14px;
  color: $gray4;
  margin-bottom: 10px;
}

.md-place-url {
  font-size: 14px;
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.md-place-picture {
  float: right;
  padding: 10px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 0;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; // Adjusts for spacing
  }

  img { vertical-align: middle; }
  &.ng-hide ~ .md-place-details {
    margin-right: 0;
  }
}


// Misc
//
.md-place-sort-placeholder {
  min-height: 60px;
  background-color: $gray2;
}
